[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pytest = "*"
python-dotenv = "*"
pytest-xdist = "*"
black = "*"

[dev-packages]

[requires]
python_version = "3.11"
